<% @resultados.each do |p| %>
    <tr>
        <td><%= p.nome %></td>
        <td><%= p.descricao %></td>
        <td><%= p.preco %></td>
        <td><%= button_to "Remover", p, method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza que deseja remover #{p.nome}?" }  %></td>
    </tr>
<% end %>