<html>

<body>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Camiseta Unisex Tri-Blend</td>
                <td>Olha a camiseta unisexo em algodão super na moda. As telas misturadas combinam durabilidade com uma
                    confortável seda suave.</td>
                <td>15</td>
                <td>21.49</td>
            </tr>
            <tr>
                <td>Camiseta feminina Premium</td>
                <td>A atração principal da coleção é nossa camiseta premium. Isto é tão perfeito quanto possível: macio
                    e ainda assim elástico, um pouco mais que uma tee padrão</td>
                <td>15</td>
                <td>26.49</td>
            </tr>
            <tr>
                <td>Camiseta POTind#198</td>
                <td>Camiseta confeccionada em meia malha Strong 100% algodão, possui gola redonda e costura reforçada.
                    Modelagem SLIM, um pouco mais justa no corpo, garantindo total conforto, Perfeita para criar um
                    visual básico e despojado para o dia a dia. </td>
                <td>10</td>
                <td>72.00</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
